body{
	margin: 0;
	font-family: 'helvetica', 'arial', sans-serif;
}

header{
	background-color: darkorange;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;

}

h1, h2{
	font-family: 'Press Start 2P', cursive;
}

header h1{
	color: white;
	font-size: 40px;

}

header img{
	border-radius: 170px;
	width: 300px;
	border: 20px solid whitesmoke;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 0 20px;
}

main img{
	max-width: 100%;
}

h2{
	font-size: 30 px;
	color: darkred;
	margin: 40px 0 10px;
}

p{
	font-size: 20px;
	line-height: 30px;
}

a{
	color: darkred;
}

a:hover{
	color: white;
}

footer{
	background-color: darkorange;
	text-align: center;
	color: white;
	padding: 50px;
}

padding p{
	margin: 0;
}

p.caption{
	color: lightslategrey;
	font-style: italic;
	margin-top: 0;
}